div#moviesList-container{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
div#moviesList-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 922px) {
div#moviesList-container{
    grid-template-columns: 1fr 1fr 1fr;
}
}