div#card-container{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 2% 0% 1% 0%;
    margin: 0% 20% 10% 20%;
}

img#card-image{
    height: 40vh;
}

div#card-text{
    text-align: left;
    font-size: 1.25vw;
    padding: 0% 15%;
}

div#card-title{
    font-family: Helvetica, sans-serif;
    color: #333333;
}

div#card-vote{
    font-size: .75vw;   
}

textarea#card-overview{
    border: none;
    overflow-y: scroll;
    height: 16vh;
    width: 100%;
    resize: none;
}