img#card-image{
    height: 30vh;
}

div#card-container{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 2% 0% 1% 0%;
    margin: 0% 20% 10% 20%;
}

div#card-text{
    text-align: left;
    font-size: 12px;
    padding: 0% 15%;
}

div#card-title{
    font-family: Helvetica, sans-serif;
    color: #333333;
}

div#card-vote{
    color: #aaaaaa;
    font-size: 8px;
}

div#card-overview{
    font-size: 10px;
    border: none;
    overflow-y: scroll;
    height: 14vh;
    width: 100%;
    resize: none;
}

@media (min-width: 576px) {
img#card-image{
    height: 29vh;
}

div#card-text{
    font-size: 14px;
}

div#card-vote{
    font-size: 8px;
}
}

@media (min-width: 768px) {
img#card-image{
    height: 34vh;
}
}

@media (min-width: 922px) {
img#card-image{
    height: 40vh;
}
}