div#search-container{
    /* background-color: #B9090B; */
    margin-top: 5vh;
    padding-bottom: 2%;
}

input#search{
    font-size: 12px;
}

@media (min-width: 922px) {
input#search{
    font-size: 14px;
}
}